
*{
    font-family: 'Zilla Slab', serif;}

header{
    background-image: url("./assets/landing.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    width: 90.85%;
}

#first{
    padding: 5%;
}

#first>p{
    color: white;
    font-size: 2em;
    text-align: center

}
#second{
    position: relative;
    display:flex;
    text-align: center;
}
#image{
    position: relative;
    display: flex;
    margin-left: 310px;
}
#image p{
    position: absolute;
  top: 60px;margin-left: 120px;
  font-size: 2em;
  color: white;
}
#hour{
    
    font-size: 2em;
    position: absolute;
width: 310px;
background-color: rgb(214, 202, 202);
color:black;

  
    
}
#time{
    background-color: #F15A29;
position: absolute;
width: 310px;
height: 50px;
padding-bottom: 59px;
color: white;

}



#third{
    display: flex;
    text-align: left;

} 

#fourth{
    display: flex;


}
#drink{
    display: flex;
    margin-right: 210px;

}
#food{
    margin-left: 300px;
}
#you{
margin-right:210px; 
padding-left: 45px;
}
#dri{
    margin-left: 300px;
    text-align: right;
    padding-right: 45px;
}
#lunch{
    opacity: 0.5;
}




    

    

    






    
    








    


    

