
*{
    font-family: 'Zilla Slab', serif;

}


header{
    background-image: url("./assets/landing.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
padding: 90px;width: 78.8%;
text-align: center;
}


#frist{width: 5px;
    

    
}
#frist div{
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    display: block;

}

#first p{
    color: white;
    font-size: 2em;
    text-align: center

}
#second{
    position: relative;
    display:flex;
    text-align: center;

}


#image{
    position: relative;
    display: flex;
    margin-left: 310px;
}
#image p{
    position: absolute;
  top: 60px;margin-left: 120px;
  font-size: 2em;
  color: white;
}
#hour{
    
    font-size: 2em;
    position: absolute;
width: 310px;
background-color: rgb(214, 202, 202);
color:rgb(90, 86, 86);

  
    
}
#time{
    background-color: #F15A29;
position: absolute;
width: 310px;
padding: 3px;
color:#EAE8E4;

}



#third{
    display: flex;
    text-align: left;
    font-weight: bold;
    

} 

#fourth{
    display: flex;
    padding: 5%;
    font-weight: bold;
    


}
#drink{
    display: flex;
    margin-right: 100px;
    border: 20px solid white;
    box-shadow: 2px 2px 10px;




}
#food{
    margin-left:100px;
    border: 20px solid white;
    box-shadow: 2px 2px 10px ;
    font-size: 0px;
}
#you{
margin-right:200px; 
padding-left: 45px;
}
#dri{
    margin-left: 100px;
    text-align: right;
    padding-right: 45px;

}

#lunch{
    opacity: 0.5;
}
#middle{
    padding: 5%;
}

#middle p:last-child{
    color: #F15A29;
}
#view{
    font-weight: bold;
    display: flex;
    color: #F15A29;
    border: 1px solid #F15A29;
    margin-left: 200px;
    padding-left: 30px;
    box-shadow:1px 1px  #F15A29;
    height: 50px;

}



#gallery{
    font-weight: bold;
    display: flex;
    color: #F15A29;
    border: 1px solid #F15A29;
margin-right: 240px;
padding-left:20px;



box-shadow:1px 1px #F15A29;
}

#cursor{
    font-size: 40px;
}

#words{
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    background-color:white;
    background-color: #EAE8E4;



}
#words div{
    width: 25%;
    text-align: center;
}

#ff a{
    color: #F15A29;
}
#ff{
    background-color: white;
}
#ink a{color:black;

    
}
#ink{
    border-right: 1px solid rgb(165, 157, 157);
    border: 1px solid rgb(185, 178, 178)
}
a{
    text-decoration: none;
    font-weight: bold;

}



#foodz{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 5%;
    text-align: center;
    color: #F15A29;
    font-weight: 700;
}

    



#foodz img{
    padding: 20px;
}
#fifth{
    background-image: url("./assets/foodsBg.jpg");
    padding: 150px;
    width: 70%;

}
#nav{
    padding-top: 12%;
    font-size: xx-large;
}

  



#sixth{
    display: flex;
    width: 70%;
    margin-left: 50px;
    color: #F15A29;
    font-weight: bold;
  
    padding: 5%;
    
  
}


#customers{
    width: 300%;
    text-align: center;
    box-shadow: 2px 2px 5px  gray;
   

}
.nav{
    margin-left: 30px;
    margin-right: 30px;margin-top: 10px;
}
#menu{
    text-align: center;
    box-shadow: 2px 2px 5px  gray;
}
#pics{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;




}
#sixth p{
    color: black;
}
    .daily{
        background-image: url("./assets/subscribe.jpg");
        padding: 50px;
        text-align: center;
        color: white;
        font-weight: bold;
    
    }
    
    .menu{
        background-color: #F15A29;
        text-align: center;
        color: white;
        font-weight: 900;
        padding: 30px;
    

    }
#seven{
    width: 91%;
    font-size: 1em;
}

.email{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 320px;
}
.you {
    width: 50%;
        background-color: rgba(255,255,255,0.2);
        text-align: left;
        padding-left: 30px;
        border-radius: 5px;
    

}
.sub{
    width: 30%;
    background-color: #F15A29;
    border-radius: 5px;
}
.logo{
    font-size: 60px;
}






    


    

